﻿@page
@model Accelist.Renegade.Web.Pages.Administrations.UploadGame.IndexModel
@{
    ViewData["Title"] = "Index";
}

<h1>Upload Game</h1>

<div class="card">
    <div class="card-body">
        <form method="post" enctype="multipart/form-data">
            <div class="row">
                <div class="col-md-12">
                    <div class="row form-group">
                        <label asp-for="UploadGameForm.Name"
                               class="col-md-2 col-form-label">
                        </label>
                        <div class="col-md-10">
                            <input asp-for="UploadGameForm.Name" class="form-control" />
                            <span asp-validation-for="UploadGameForm.Name"></span>
                        </div>
                    </div>

                    <div class="row form-group">
                        <label asp-for="UploadGameForm.Description"
                               class="col-md-2 col-form-label">
                        </label>
                        <div class="col-md-10">
                            <textarea asp-for="UploadGameForm.Description" class="form-control"></textarea>
                            <span asp-validation-for="UploadGameForm.Description"></span>
                        </div>
                    </div>

                    <div class="row form-group">
                        <label asp-for="UploadGameForm.Price"
                               class="col-md-2 col-form-label">
                        </label>
                        <div class="col-md-10">
                            <input asp-for="UploadGameForm.Price" class="form-control" />
                            <span asp-validation-for="UploadGameForm.Price"></span>
                        </div>
                    </div>

                    <div class="row form-group">
                        <label asp-for="UploadGameForm.File"
                               class="col-md-2 col-form-label">
                        </label>
                        <div class="col-md-10">
                            <input asp-for="UploadGameForm.File" class="form-control-file" />
                            <span asp-validation-for="UploadGameForm.File"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <button class="btn btn-block btn-primary">
                        Submit
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>