<template>
    <div>
        <div :class="{ loading: isLoading }"></div>
        <div class="card">
            <div class="card-body">
                <form>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row form-group">
                                <label class="col-md-2 col-form-label">
                                    Search
                                </label>
                                <div class="col-md-10">
                                    <input class="form-control" />
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div id="gameContainer">
                    <div v-for="myGame in myGames"
                         :key="myGame.videoGameId"
                         class="game">
                        <img :src="getImage(myGame.blobId)" 
                             class="img-thumbnail"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
    import Vue from 'vue';
    import Component from 'vue-class-component';
    import { AccelistRenegadeAPI } from '../rest-api/accelistRenegadeAPI'
    import { GetMyGamesResponse } from '../rest-api/models';
    import { setTimeout } from 'timers';

    @Component({
        created: async function (this: MyLibrary) {
            await this.loadLibrary();
            this.toggleLoading();
        }
    })
    export default class MyLibrary extends Vue {
        myGames: GetMyGamesResponse = null;

        isLoading = true;

        getImage(blobId: string) {
            return `/api/v1/image/${blobId}`;
        }

        toggleLoading() {
            setTimeout(() => {
                this.isLoading = !this.isLoading;
            }, 2_000);
        }

        async loadLibrary() {
            let api = new AccelistRenegadeAPI({
                baseUri: window.location.origin
            });

            let result = await api.getMyGames();

            this.myGames = result;
        }
    }
</script>
