﻿@page
@model Accelist.Renegade.Web.Pages.Auth.LoginModel
@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>

<div class="card">
    <div class="card-body">
        <form method="post">
            <div class="row">
                <div class="col-md-12">
                    <div class="row form-group">
                        <label asp-for="LoginForm.Username"
                               class="col-md-2 col-form-label"></label>
                        <div class="col-md-10">
                            <input asp-for="LoginForm.Username" class="form-control" />
                            <span asp-validation-for="LoginForm.Username"></span>
                        </div>
                    </div>
                    <div class="row form-group">
                        <label asp-for="LoginForm.Password"
                               class="col-md-2 col-form-label"></label>
                        <div class="col-md-10">
                            <input asp-for="LoginForm.Password"
                                   type="password"
                                   class="form-control" />
                            <span asp-validation-for="LoginForm.Password"></span>
                        </div>
                    </div>

                    <div class="form-check">
                        <input asp-for="LoginForm.IsPersistent" class="form-check-input" />
                        <label asp-for="LoginForm.IsPersistent" class="form-check-label"></label>
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-12">
                    <button class="btn btn-block btn-primary"
                            type="submit">
                        Login
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
