﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Renegade</title>

    <link rel="stylesheet" href="~/css/ipack.css" type="text/css" />
</head>
<body>
    <div id="app" class="wrapper">
        <partial name="Sidebar" />
        <div class="container-fluid">
            <main role="main" class="mt-3 pb-3">
                <partial name="Alert" />
                @RenderBody()
            </main>
        </div>
    </div>

    <footer class="border-top footer">
        <div class="container-fluid">
            &copy; 2019 - Accelist Renegade - All rights reserved
        </div>
    </footer>

    <script src="~/js/ipack.dll.js"></script>
    <script src="~/js/ipack.js"></script>
</body>
</html>
