﻿@{ 
    var alertMessage = this.ViewData[ViewDataVariables.Alert] as AlertMessageModel;

    if (alertMessage != null)
    {
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-@alertMessage.Category alert-dismissible fade show">
                    @alertMessage.Message
                    
                    <button type="button" class="close" data-dismiss="alert">
                        <span>&times;</span>
                    </button>
                </div>
            </div>
        </div>
    }
}