﻿<!-- Sidebar -->
<nav id="sidebar">
    <div class="sidebar-header">
        <a asp-page="/Index">
            <h3>
                Renegade
            </h3>
        </a>
    </div>

    <ul class="list-unstyled components">
        @{
            if (User.Identity.IsAuthenticated == false)
            {
                <li class="active">
                    <a asp-page="/Auth/Login">
                        Login
                    </a>
                </li>
            }
            else
            {
                <li>
                    <form asp-page="/Auth/Logout" method="post">
                        <button class="btn btn-link">
                            Log Out
                        </button>
                    </form>
                </li>
            }
        }

        <li>
            <a asp-page="/Index">
                Store
            </a>
        </li>

        @{
            if (User.Identity.IsAuthenticated == true)
            {
                <li>
                    <a asp-page="/Library">
                        My Games
                    </a>
                </li>
            }
        }

        @{
            if (User.IsInRole(UserRoles.Admin) == true)
            {
                <li>
                    <a asp-page="/Administrations/UploadGame/Index">
                        Upload Game
                    </a>
                </li>
            }
        }
        <li>
            <a href="#">About</a>
        </li>
    </ul>
</nav>
