﻿// Reference: https://css-tricks.com/snippets/css/a-guide-to-flexbox/.

#gameContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 3px 3px 3px 3px;

    .game {
        width: 128px;
        height: 128px;

        margin: 5px 5px 5px 5px;

        img{
            height: 100%;
        }
    }
}
