﻿// Reference: https://codepen.io/sandra90/pen/xwMGgB.

img {
    max-width: 100%;
}

.slider-container {
    height: 256px;
    width: 100%;
    position: relative;
    overflow: hidden;
    text-align: center;

    box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 1);
}

.menu {
    position: absolute;
    left: 0;
    z-index: 900;
    width: 100%;
    bottom: 0;

    label {
        cursor: pointer;
        display: inline-block;
        width: 16px;
        height: 16px;
        background: #fff;
        border-radius: 50px;
        margin: 0 .2em 1em;

        &:hover {
            background: red;
        }
    }
}

.slide {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 100%;
    z-index: 10;
    padding: 8em 1em 0;
    background-size: cover;
    background-position: 50% 50%;
    transition: left 0s .75s;
}

[id^="slide"]:checked + .slide {
    left: 0;
    z-index: 100;
    transition: left .65s ease-out;
}

.slide-1 {
    background-image: url("https://source.unsplash.com/t7YycgAoVSw/1600x900");
}

.slide-2 {
    background-image: url("https://source.unsplash.com/11H1SSVcIxc/1600x900");
}

.slide-3 {
    background-image: url("https://source.unsplash.com/OlZ1nWLEEgM/1600x900");
}
