@import "bootstrap";
@import "aspnet-validation";
@import "sidebar.scss";
@import "image-slider.scss";
@import "loading-overlay.scss";
@import "game-container.scss";

// Useful online tool: https://cssgradient.io/.
$dark-red-gradient: linear-gradient(14deg, rgba(29,2,2,1) 0%, rgba(121,9,9,1) 32%, rgba(158,66,66,1) 100%);
$primary-font-color: white;
$primary-font-family: Trebuchet MS;

html {
    height: 100%;
}

body {
    min-height: 100%;
    margin: 0;
    padding: 0;

    background: $dark-red-gradient;
    color: $primary-font-color;
    font-family: $primary-font-family;

    .card{
        color: black;
    }
}

// if you need a sidebar, use this: https://getbootstrap.com/docs/4.0/examples/dashboard/
