﻿.wrapper {
    display: flex;
    align-items: stretch;
}

$sidebar-background-color: #291212;

#sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
    background-color: $sidebar-background-color;

    .sidebar-header {
        padding: 20px;
    }

    ul {
        p {
            color: white;
            padding: 10px;
        }

        li {
            a {
                padding: 10px;
                font-size: 1.1em;
                display: block;

                color: white;
                text-decoration: none;

                &:hover {
                    color: black;
                    background: white;
                }
            }

            &.active > a, a[aria-expanded="true"] {
                color: black;
                background-color: white;
            }
        }

        &.components {
            padding: 20px 0;
        }
    }
}

#sidebar.active {
    margin-left: -250px;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }

    #sidebar.active {
        margin-left: 0;
    }
}